{% extends "StarHoardBundle::layout.html.twig" %}

{% block body %}
<h1>Items</h1>

<ul>
  <li><a href="{{ path("hoard.item_new") }}">Add item</a></li>
</ul>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Magical</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td><a href="{{ path("hoard.item_edit", {"id": item.id}) }}">{{ item.name }}</a></td>
        <td>{{ item.cost }}</td>
        {% set isMagic = "No" %}
        <td>{{ item.isMagic() ? "Yes" : "No" }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}